div.hidden {
  display: none;
}

div.active {
  border: 5px solid red;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}

.highlight {
  border: solid red 2px;
  background-color: white;
}

h3 {
  text-transform: capitalize;
}
